CREATE TABLE IF NOT EXISTS matrizes (id INT AUTO_INCREMENT PRIMARY KEY, nome VARCHAR(255) NOT NULL, data_nascimento DATE NOT NULL, raca VARCHAR(255) NOT NULL, ninhadas INT DEFAULT 0, caracteristicas_filhotes TEXT, foto VARCHAR(255) NOT NULL, created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP); CREATE TABLE IF NOT EXISTS premios_matriz (id INT AUTO_INCREMENT PRIMARY KEY, matriz_id INT NOT NULL, descricao TEXT NOT NULL, FOREIGN KEY (matriz_id) REFERENCES matrizes(id) ON DELETE CASCADE);
